@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutAdmin";
}
<div class="container-fliud" style="height: 100%;
    position: relative;
    background: linear-gradient(
90deg
, rgba(2,0,36,1) 0%, rgba(29,29,129,1) 50%, rgba(0,212,255,1) 100%); ">
    <div class="row justify-content-center">

        <div class="col-md-8 col-lg-6 col-xl-5" style="position: absolute;
            bottom: 120px;
            z-index: 1;">
            <div class="card overflow-hidden" style="box-shadow: 0px 14px 43px -10px rgba(10,10,10,0.65);
                -webkit-box-shadow: 0px 14px 43px -10px rgba(10,10,10,0.65);
                -moz-box-shadow: 0px 14px 43px -10px rgba(10,10,10,0.65);">
                <div class="bg-primary bg-soft">
                    <div class="row">
                        <div class="col-12" style="    background: #1d1d81;
                            /* background-color: #485ec4; */
                            height: 128px;">
                            <div class="text-primary p-4 text-center" style="    color: white !important;">
                                <h5 class="text-primary" style="color: white !important;">Azerisiq ASC</h5>
                                <p>Vahid Login Sistemine Giris</p>
                            </div>
                        </div>
                        <!-- <div class="col-5 align-self-end">
                                <img src="assets/images/profile-img.png" alt="" class="img-fluid">
                            </div> -->
                    </div>
                </div>
                <div class="card-body pt-0" style="
                    height: 320px;
                ">
                    <div class="auth-logo">
                        <a href="index.html" class="auth-logo-light">
                            <div class="avatar-md profile-user-wid mb-4">
                                <span class="avatar-title rounded-circle bg-light">
                                    <img src="~/auth/assets/images/logo-light.svg" alt="" class="rounded-circle" height="34">
                                </span>
                            </div>
                        </a>

                        <a href="index.html" class="auth-logo-dark" style="position: absolute;
                            left: 232px;
                            /* height: 129px;">
                            <div class="avatar-md profile-user-wid mb-4">
                                <span class="avatar-title rounded-circle bg-light">
                                    <img src="~/auth/assets/images/logo.svg" alt="" class="rounded-circle" height="34">
                                </span>
                            </div>
                        </a>
                    </div>
                    <div class="p-2 mt-2">
                        <form class="form-horizontal" action="https://themesbrand.com/skote/layouts/index.html" style="    padding: 30px;">
                            <a asp-action="Login" asp-controller="Auth">
                                <div style="box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.18);
                                -webkit-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.18);
                                -moz-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.18);position: relative;" class="mt-3 p-3 mb-4 bg-white rounded">
                                    <img src="~/auth/img/with-pin.svg" style="width: 3.5rem;" alt="">
                                    <span style="    position: absolute;
                                        /* left: inherit; */
                                        font-size: 20px;
                                        color: black;
                                        left: 80px;
                                        top: 10px;
                                        font-weight: 500;">istifadeci Girisi</span>
                                    <p style="    position: absolute;
                                        bottom: 10px;
                                        left: 80px;
                                        color: #706363d4;
                                        font-size: 14px;">Daxili portal hesabina daxil ol</p>
                                </div>

                            </a>
                            <a href="auth-login.html">
                                <div style="box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.18);
                                -webkit-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.18);
                                -moz-box-shadow: 1px 1px 10px 2px rgba(0,0,0,0.18);position: relative;" class="mt-3 p-3 mb-4 bg-white rounded">
                                    <img src="~/auth/img/avatar-svgrepo-com.svg" style="width: 3.5rem;" alt="">
                                    <span style="    position: absolute;
                                        /* left: inherit; */
                                        font-size: 20px;
                                        color: black;
                                        left: 80px;
                                        top: 10px;
                                        font-weight: 500;">istifadeci Qeydiyyat</span>
                                    <p style="    position: absolute;
                                        bottom: 10px;
                                        left: 80px;
                                        color: #706363d4;
                                        font-size: 14px;">Daxili portal hesabina daxil ol</p>
                                </div>

                            </a>



                        </form>
                    </div>

                </div>
            </div>


        </div>


    </div>
    <img src="~/auth/img/wave.svg" style="position: absolute;height: 100%;" alt="">

</div>
